/* Reset default margin & padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  font-family: "Poppins", sans-serif;
}

.clock-container {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px 60px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
}

.banner{
  font-size: 4rem;
  color: #000;
  letter-spacing: 2px;
  text-align: center;
}

.clock {
  font-size: 4rem;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
}
